@font-face {
  font-family: 'NeueMontreal';
  src: url('../../public/assets/fonts/NeueMontreal-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Rza';
  src: url('../../public/assets/fonts/rza-regular.woff') format('truetype');
}

@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}


#nprogress .bar {
  background: #2F9E44 !important;
}

#nprogress .peg {
  box-shadow: none !important;
}
